<h1>Edit restaurant</h1>
<!-- form action="/restaurants/1" method="patch">
  <label for="name">Enter a name</label>
  <input type="text" name="name" id="name" value="Mamma Roma">

  <label for="address">Enter an address</label>
  <input type="text" name="address" id="address" value="">

  <label for="rating">Enter a rating</label>
  <input type="text" name="rating" id="rating" value="4">

  <input type="submit">
</form> -->

<%= render 'form' %>
